{% extends "main/static/base.html" %}
{% load static %}
{% block content %}

<h1>Статьи для страны: {{ country.name }}</h1>

<div class="website-block" id="{{ country.code }}">
  <div class="checkbox-wrapper-34">
    <input class='tgl tgl-ios' id='showOnlyFavorites' type='checkbox'>Отображать только избранные сайты
    <label class='tgl-btn' for='showOnlyFavorites'></label>
  </div>
  <div class="date-picker-wrapper">
    <label for="startDate">Дата начала:</label>
    <input type="date" id="startDate">

    <label for="endDate">Дата конца:</label>
    <input type="date" id="endDate">
  </div>
  <ul class="list">

  </ul>
</div>
<script src="{% static 'js/test.js' %}"></script>
{% endblock %}