{% extends "main/static/base.html" %}
{% load static %}
{% block content %}



<div class="live" id='live-tracking-page'> </div>
<div class="widget all">
  {% include "main/word_cloud.html" %}
  {% include "main/tracked_word_cloud.html" %}
</div>
<div class="website-block" >
  <div class="menu-toggle-aside" style="padding: 10px;">
  <button class="menu-toggle-aside" aria-label="Open navigation menu">☰Фильтры</button>
  </div>
  {% include "main/filters/live_section_filter.html"  %}


  <ul class="list">  </ul>

</div>
<script src="{% static 'js/test.js' %}"  ></script>

<script src="{% static 'js/favorite_handler.js' %}"  ></script>
{% endblock %}