<div class="word-cloud" id="treck_word-conteiner" style="display: block;">
  <span>Отслеживаемые слова</span>
  <ul>
    {% if tracked_word_with_counts %}
    {% for item in tracked_word_with_counts %}
    <li>
      <a href="#" class="word" data-treck-cloud-id="{{ item.word.id }}">
        {{ item.word.keyword }}
        <span class="count">({{ item.count }})</span>
      </a>
    </li>
    {% endfor %}
    {% else %}
    <li>
      <span>У вас пока нет отслеживаемых слов.</span>
      <a class="button-link small-button" href={% url 'users:dashboard_trackword' %}>Добавьте их здесь</a>.
    </li>
    {% endif %}
  </ul>
  {% include "main/filter_section_tracked_word.html" %}

</div>
<!-- ФИЛЬТРЫ -->



</div>