{% extends "main/static/base.html" %}
{% load static %}

{% block content %}
<style>
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    .tab button:hover {
        background-color: #ddd;
    }

    .tab button.active {
        background-color: #ccc;
    }

    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>

<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Websites')">Сайты</button>
    <button class="tablinks" onclick="openTab(event, 'Countries')">Страны</button>
</div>

<div id="Websites" class="tabcontent">
    <h1>Сайты</h1>
    {% include "main/filter_panel.html" %}
    <div class="websites">
        {% for website in websites %}
        <div class="website-block" data-id="{{ website.id }}" data-url="{% url 'main:website_articles' website.id %}">
            <div class="website-header">
                {% if website in request.user.favorite_websites.all %}
                <a href="#" class="toggle-favorite" data-action="{% url 'main:remove_favorite' website.id %}"><i
                        class="fas fa-star"></i></a> <!-- Звезда для избранных -->
                {% else %}
                <a href="#" class="toggle-favorite" data-action="{% url 'main:add_favorite' website.id %}"><i
                        class="far fa-star"></i></a> <!-- Пустая звезда для неизбранных -->
                {% endif %}
                
                <h2>{{ website.name }}</h2>
                
                <div class="country">{{ website.country.name }}</div>
            </div>

            <ul class="website-list">

            </ul>
        </div>
        {% endfor %}
    </div>
</div>

<div id="Countries" class="tabcontent">
    <h1>Страны</h1>
    <div class="websites">
        {% for country in countries %}
        <div class="website-block" data-id="{{ country.id }}" data-url="{% url 'main:website_articles' country.id %}">
            <div class="website-header">
                {% if country in request.user.favorite_countries.all %}
                <a href="#" class="toggle-favorite" data-action="{% url 'main:remove_favorite' country.id %}"><i
                        class="fas fa-star"></i></a> <!-- Звезда для избранных -->
                {% else %}
                <a href="#" class="toggle-favorite" data-action="{% url 'main:add_favorite' country.id %}"><i
                        class="far fa-star"></i></a> <!-- Пустая звезда для неизбранных -->
                {% endif %}

                <h2>{{ country.name }}</h2>
                <div class="country">{{ website.country.name }}</div>

            </div>
            <ul class="website-list">

            </ul>

        </div>
        {% endfor %}
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>



    <script src="{% static 'js/click.js' %}"></script>

    <script src="{% static 'js/favorite_handler.js' %}"></script>



    {% endblock %}