<nav>
    <div class="logo-name">
        <div class="logo-image">
        </div>
        <span class="logo_name">CodingLab</span>
    </div>
    <div class="menu-items">
        <ul class="nav-links">
            <li><a href="/dashboard/">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dahsboard</span>
                </a></li>
            <li><a href="/dashboard/trackword/">
                    <i class="uil uil-comment-search"></i>
                    <span class="link-name">Отслеживаемое</span>
                </a></li>
            <li><a href="/dashboard/collection/">
                    <i class="uil uil-folder-open"></i>
                    <span class="link-name">Подборки</span>
                </a></li>
            <li><a href="/dashboard/settings/">
                    <i class="uil uil uil-setting"></i>
                    <span class="link-name">Настройки</span>
                </a></li>
            <li><a href="/dashboard/sites/">
                    <i class="uil uil-globe"></i>
                    <span class="link-name">Сайты</span>
                </a></li>
            <li><a href="#">
                    <i class="uil uil-share"></i>
                    <span class="link-name">Share</span>
                </a></li>
        </ul>

        <ul class="logout-mode">
            <li><a href="#">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>
            <li class="mode">
                <a href="#">
                    <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>
                <div class="mode-toggle">
                    <span class="switch"></span>
                </div>
            </li>
        </ul>
    </div>
</nav>