

 
<div class="card mt-4">
  <div class="card-header cardToggle">
      <h3>Добавить новый сайт</h3>
      <span class="float-right toggleText">Свернуть &#9650;</span>
  </div>
  <div class="card-body width-100 button-wite" style="display: none;">
    <form id="create-tab-form" method="post" action="">
      {% csrf_token %} <!-- Include CSRF token for security -->
      <div>
          <label for="tab-name">Название вкладки:</label>
          <input type="text" id="tab-name" name="tab_name" required>
      </div>
      <div id="websites-selector">
          <label>Сайты:</label>
          <select name="websites" multiple>
              {% for website in websites %}
                  <option value="{{ website.id }}">{{ website.name }}</option>
              {% endfor %}
          </select>
      </div>
      <div id="countries-selector">
          <label>Страны:</label>
          <select name="countries" multiple>
              {% for country in countries %}
                  <option value="{{ country.id }}">{{ country.name }}</option>
              {% endfor %}
          </select>
      </div>
      <div id="tracked-words-selector">
          <label>Отслеживаемые слова:</label>
          <select name="tracked_words" multiple>
              {% for word in tracked_words %}
                  <option value="{{ word.id }}">{{ word.keyword }}</option>
              {% endfor %}
          </select>
      </div>
      <div>
          <button type="submit">Создать вкладку</button>
      </div>
    </form>
  </div>
