{% extends "main/static/base.html" %}
{% load static %}

{% block content %}
    <h1>Websites</h1>
    <div class="websites">
        {% for website in websites %}
            <div class="website-block" data-api="{% url 'main:api_article_list' website.id %}" data-url="{% url 'main:article_list_1' website.id %}">
                <div class="country">{{ website.country.name }}</div> 
                {% if website in request.user.favorite_websites.all %}
                <a href="#" class="toggle-favorite" data-action="{% url 'main:remove_favorite' website.id %}"><i class="fas fa-star"></i></a> <!-- Звезда для избранных -->
            {% else %}
                <a href="#" class="toggle-favorite" data-action="{% url 'main:add_favorite' website.id %}"><i class="far fa-star"></i></a> <!-- Пустая звезда для неизбранных -->
            {% endif %}
                <h2>{{ website.name }}</h2>

                <ul id="website-list">

                </ul>

            </div>
        {% endfor %}
    </div>


    <script src="{% static 'js/click.js' %}"  ></script>
    <script src="{% static 'js/scripts.js' %}"  ></script>
    
    <script src="{% static 'js/favorite_handler.js' %}"  ></script>



      {% endblock %}