{% load static %}

<div class="word-cloud" id="cloud-conteiner" style="display: block;">
  <span>Облако тегов</span>
  <ul>
    {% for word in words %}
    <li>
        <a href="#" class="word {{ word.frequency }}" data-word-id="{{ word.id }}">
            {{ word.text }}
        </a>
    
    <li>
    {% endfor %}
    </ul>
</div>

<div class="website-block articles-list" style="display: none;">
    <ul class="websites"></ul>
</div>


<link rel="stylesheet" type="text/css" href="{% static 'css/word_cloud.css' %}">

<script>
  function formatDateTime(dateTimeStr) {
    var date = new Date(dateTimeStr);
    var day = String(date.getDate()).padStart(2, '0');
    var month = String(date.getMonth() + 1).padStart(2, '0');
    var year = date.getFullYear();
    var hours = String(date.getHours()).padStart(2, '0');
    var minutes = String(date.getMinutes()).padStart(2, '0');
    return `${day}.${month}.${year} г. ${hours}:${minutes}`;
}


    document.addEventListener("DOMContentLoaded", function() {
        $('#countriesFilter').select2({
            placeholder: "Выберите страны",
            width: '100%'
        });
        $('#websitesFilter').select2({
            placeholder: "Выберите сайты",
            width: '100%'
        });


        const words = document.querySelectorAll('.word');

        const clickableElements = document.querySelectorAll('[data-word-id], [data-treck-cloud-id]');
        const articlesListDiv = document.querySelector('.articles-list');
        const articlesList = articlesListDiv.querySelector('ul');
        let lastClickedWord = null; 
        let treckWordConteinerElement = document.getElementById('treck_word-conteiner');
        let cloudConteinerElement = document.getElementById('cloud-conteiner');
        let filerConteinerElement = document.getElementById('filter-conteiner');


        document.getElementById('applyFilters').addEventListener('click', function(e) {
            if (lastClickedWord) {
                let dataId, dataType;
                if (lastClickedWord.hasAttribute('data-word-id')) {
                    dataId = lastClickedWord.getAttribute('data-word-id');
                    dataType = "word";
                } else if (lastClickedWord.hasAttribute('data-treck-cloud-id')) {
                    dataId = lastClickedWord.getAttribute('data-treck-cloud-id');
                    dataType = "track";
                }
                const dateValue = $('#dateFilter').val();
                const countriesValues = $('#countriesFilter').val();  // получение списка выбранных стран
                const websitesValues = $('#websitesFilter').val();  
                const countValues = $('#countFilter').val();  
                const queryParams = new URLSearchParams();
                if (dateValue) queryParams.append('date', dateValue);
                if (countriesValues) queryParams.append('countries', countriesValues.join(','));
                if (websitesValues) queryParams.append('websites', websitesValues.join(','));
                if (websitesValues) queryParams.append('count',countValues);
                fetchArticles(dataId, dataType, queryParams);
            } else {
                alert("Пожалуйста, выберите слово перед применением фильтров.");
            }
        });

        words.forEach(word => {
            word.addEventListener('click', function() {
            // Если последнее нажатое слово и текущее слово совпадают, скрываем список и выходим
              if (lastClickedWord === word) {
                  articlesListDiv.style.display = 'none';
                  filerConteinerElement.style.display = 'none';
                  lastClickedWord = null;
                  treckWordConteinerElement.style.display = 'block';
                  cloudConteinerElement.style.display = 'block';
                  return;
              }
  
              lastClickedWord = word;  
              let dataId, dataType;
              if (word.hasAttribute('data-word-id')) {
                  dataId = word.getAttribute('data-word-id');
                  treckWordConteinerElement.style.display = 'none';
                  filerConteinerElement.style.display = 'block';

                  dataType = "word";
              } else if (word.hasAttribute('data-treck-cloud-id')) {
                  dataId = word.getAttribute('data-treck-cloud-id');
                  cloudConteinerElement.style.display = 'none';
                  filerConteinerElement.style.display = 'block';

                  dataType = "track";
              }
              //настройка фильтрации
              const dateValue = $('#dateFilter').val();
              const countriesValues = $('#countriesFilter').val();  // получение списка выбранных стран
              const websitesValues = $('#websitesFilter').val();  
              const countValues = $('#countFilter').val();  
              const queryParams = new URLSearchParams();
              if (dateValue) queryParams.append('date', dateValue);
              if (countriesValues) queryParams.append('countries', countriesValues.join(','));
              if (websitesValues) queryParams.append('websites', websitesValues.join(','));
              if (websitesValues) queryParams.append('count',countValues);
  
                fetchArticles(dataId, dataType, queryParams)
            });
        });
    });


function fetchArticles(dataId, dataType, queryParams) {
    const articlesListDiv = document.querySelector('.articles-list');
    const articlesList = articlesListDiv.querySelector('ul');

    fetch(`/api/articles_for_related_data/${dataType}/${dataId}/?${queryParams}`)    .then(response => {
        if (!response.ok) {
            throw response;
        }
        return response.json();
    })
    .then(data => {
        articlesList.innerHTML = '';
        data.articles.forEach(article => {
            const li = document.createElement('li');
            li.setAttribute('data-id', article.id);
            
            const websiteUrlDiv = document.createElement('div');
            websiteUrlDiv.classList.add('website-url');
    
    
            const articleTitleDiv = document.createElement('div');
            articleTitleDiv.classList.add('article-title');
            const aTitle = document.createElement('a');
            aTitle.href = article.url;
            aTitle.textContent = article.title;
            articleTitleDiv.appendChild(aTitle);
    
            const articleDateDiv = document.createElement('div');
            articleDateDiv.classList.add('article-date');
            const spanWebsite = document.createElement('span');
            spanWebsite.classList.add('publish-date');
            var favoriteIcon = article.is_favorite ?
            `<a href="#" class="toggle-favorite" data-action="/remove_favorite/${article.website__id}/"><i class="fas fa-star"></i></a>` :
            `<a href="#" class="toggle-favorite" data-action="/add_favorite/${article.website__id}/"><i class="far fa-star"></i></a>`;
    
            spanWebsite.innerHTML = favoriteIcon + ' ' + article.website__name;
            const spanDate = document.createElement('span');
            spanDate.classList.add('publish-date');
            spanDate.textContent = formatDateTime(article.published_at); 
            const spanCountry = document.createElement('span');
            
            spanCountry.classList.add('publish-date');
            spanCountry.textContent = article.website__country__name;; 
    
            
    
            articleDateDiv.appendChild(spanWebsite);
            articleDateDiv.appendChild(spanDate);
            articleDateDiv.appendChild(spanCountry);
    
            websiteUrlDiv.appendChild(articleTitleDiv);
            websiteUrlDiv.appendChild(articleDateDiv);
    
            li.appendChild(websiteUrlDiv);
    
            articlesList.appendChild(li);
        });
        articlesListDiv.style.display = 'block';
    })    .catch(error => {
        articlesList.innerHTML = '';
        const errorDiv = document.createElement('div');
        errorDiv.setAttribute('data-id', "error");
        errorDiv.classList.add('error');
    
        const websiteUrlDiv = document.createElement('div');
        websiteUrlDiv.classList.add('website-url');
    
        const articleTitleDiv = document.createElement('div');
        articleTitleDiv.classList.add('article-title');
        const aTitle = document.createElement('a');
        aTitle.href = "#";
        aTitle.textContent = "Произошла ошибка при выполнении запроса.";
        articleTitleDiv.appendChild(aTitle);
    
        websiteUrlDiv.appendChild(articleTitleDiv);
        errorDiv.appendChild(websiteUrlDiv);
        articlesList.appendChild(errorDiv);

    });
}

</script>











