{% extends "main/static/base.html" %}
{% load static %}
{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<!-- Кружочек крутится "ожидание" -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">



<div class="card mt-4">
    <div class="card-header cardToggle">
        <h3>Добавить новый сайт</h3>
        <span class="float-right toggleText">Свернуть &#9650;</span>
    </div>
    <div class="card-body width-100 button-wite">
        <!-- Этап 1 -->
        <div id="step1">
            <form id="baseURLForm" method="post">
                {% csrf_token %}
                <input type="url" id="url" name="url" placeholder="URL сайта:">
                <button type="submit">Перейти к следующему этапу</button>
            </form>
        </div>

        <!-- Этап 2 -->
        <div id="step2" style="display:none;">
            <form id="sitemapForm" method="post">
                {% csrf_token %}
                <div id="detailsFormContainer">
                    <i id="loadingIndicator" class="fas fa-circle-notch fa-spin" style="display: none;"></i>
                </div>
 
            </form>
        </div>

        <!-- Этап 3 -->
        <div id="step3" style="display:none;">
            <form id="detailsForm" method="post">
                {% csrf_token %}
                <div id="endFormContainer">
                    <i id="loadingIndicator" class="fas fa-circle-notch fa-spin" style="display: none;"></i>
                </div>

            </form>
        </div>
    </div>
</div>

</div>

     {% include "users/module/tabs_form.html" %}
<!-- Форма для включения/выключения уведомлений в Telegram -->
     {% include "users/module/telegram_setings.html" %}

<!-- Форма для управления отслеживыаемых слов пользователем -->
     {% include "users/module/trecking_word_setings.html" %}
     
</div>



<script>
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    $("#addWordForm").submit(function(e) {
        e.preventDefault();
        $.post("{% url 'users:add_word_api' %}", $(this).serialize()).done(function(data) {
            if (data.status == 'success') {
                $("#wordList").append('<li class="list-group-item d-flex justify-content-between align-items-center" data-id="' 
                + data.word_id + '">' + data.word_text + 
                '<span class="badge badge-primary badge-pill">'+ data.count + '</span>' +
                ' <button class="btn btn-danger btn-sm deleteWord">Удалить</button></li>');
            } else {
                alert(data.errors.keyword);
            }
        });
    });

    $("#wordList").on("click", ".deleteWord", function() {
        var li = $(this).closest('li');
        var wordId = li.attr('data-id');
        $.ajax({
            url: "{% url 'users:delete_word_api' '0' %}".replace('0', wordId),
            type: 'DELETE',
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function(data) {
                if (data.status == 'success') {
                    li.remove();
                } else {
                    alert(data.message);
                }
            }
        });
    });
</script>

<script>
    $(document).ready(function() {
        $('.cardToggle').on('click', function() {
            const cardBody = $(this).next('.card-body');
            const toggleText = $(this).find('.toggleText');
    
            cardBody.slideToggle('slow', function() {
                if (cardBody.is(':visible')) {
                    toggleText.html("Свернуть &#9650;");
                } else {
                    toggleText.html("Развернуть &#9660;");
                }
            });
        });
    });
</script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>   
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
$(document).ready(function() {

    // Этап 1: получаем список sitemap_url
    $("#baseURLForm").submit(function(event) {
        event.preventDefault();
        $.ajax({
            url: '{% url "users:fetch_sitemaps" %}',  // URL вашего Django-представления для этапа 1
            type: 'POST',
            data: {
                'url': $('#url').val(),
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(data) {
                // Добавляем полученные sitemap_url в выпадающий список
                let sitemapDropdown = $('#sitemap_url_dropdown');
                sitemapDropdown.empty();
                $("#detailsFormContainer").html(data.form_html); 

                $("#step1").hide();
                $("#step2").show();
            },
            error: function(error) {
                alert("Ошибка при получении sitemap. Попробуйте снова.");
            }
        });
    });

    // Этап 2: парсим данные с выбранного sitemap_url или введенного пользователем
    $("#sitemapForm").submit(function(event) {
        event.preventDefault();
        let selectedSitemap = $('#sitemap_url').val();
        let inputSitemap = $('#customSitemap').val();


        if (inputSitemap) { // Если URL был введен
            // Задаем этот URL как выбранное значение в выпадающем списке
            var sitemapToSend = inputSitemap;
        }else{
            var sitemapToSend = selectedSitemap;
        }
        $.ajax({
            url: '{% url "users:fetch_website_details" %}',  // URL  Django-представления для этапа 2
            type: 'POST',
            data: {
                'sitemap_url': sitemapToSend,

                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(data) {
                // Здесь можно обновить поля формы на этапе 3 данными из ответа
                $('#name').val(data.name);
                $('#language').val(data.language);
                $("#endFormContainer").html(data.form_html); 
                
                // Переходим к следующему этапу
                $("#step2").hide();
                $("#step3").show();
            },
            error: function(error) {
                alert("Ошибка при получении данных сайта. Попробуйте снова.");
            }
        });
    });

    // Этап 3: сохраняем все данные
    $("#detailsForm").submit(function(event) {
        event.preventDefault();
        $.ajax({
            url: '{% url "users:save_website" %}',  // URL вашего Django-представления для этапа 3
            type: 'POST',
            data: $("#detailsForm").serialize(),
            success: function(data) {
                
                alert("Сайт успешно сохранен!");
                $("#step3").hide();
                $("#step1").show();
            },
            error: function(error) {
                alert("Произошла ошибка при сохранении. Попробуйте снова.");
            }
        });
    });
});
</script>
{% endblock %}
