{% extends 'users/static/base.html' %}
{% load static %}
{% block content %}
    <section class="dashboard">

        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>


            <!--<img src="images/profile.jpg" alt="">-->
        </div>
        <div class="dash-content">

            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Dashboard</span>
                </div>
                <div class="boxes">
                    
                    <div class="box box1">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="text">Сайтов</span>
                        <span class="number">{{ total_website_count }}</span>
                    </div>
                    <div class="box box2">
                        <i class="uil uil-comments"></i>
                        <span class="text">Стран</span>
                        <span class="number">{{ total_countries_count }}</span>
                    </div>
                    <div class="box box3">
                        <i class="uil uil-share"></i>
                        <span class="text">Задач</span>
                        <span class="number">{{ total_tasks_count  }}</span>
                    </div>
                </div>
            </div>

            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Задачи</span>
                </div>
            {% include "users/module/tasks.html" %}
                



            <div class="my-sites">
                <div class="title">
                    <i class="uil uil-sitemap"></i>
                    <span class="text">Мои отслеживые слвоа</span>
                </div>
                {% include "users/module/submodule/tracking_word_list.html" %}
            </div>

            <div class="my-sites">
                <div class="title">
                    <i class="uil uil-sitemap"></i>
                    <span class="text">Мои подборки</span>
                </div>
                <div class="boxes">
                    <!-- Пример сайта -->
                    <div class="box ">
                        <div class="site-info">
                            <span class="site-name">Название сайта</span>
                            <i class="uil uil-angle-down toggle-details"></i>

                        </div>
                        <div class="site-details">
                            <span class="site-updated">Последнее обновление: 2023-01-01</span>
                            <span class="site-language">Язык: RU</span>
                            <span class="site-url">base_url.com</span>

                        </div>
                    </div>
                    <!-- Другие сайты... -->

                    <!-- Пример сайта -->
                    <div class="box ">
                        <div class="site-info">
                            <span class="site-name">Название сайта</span>
                            <span class="site-url">base_url.com</span>
                            <!-- Добавляем иконку или кнопку для раскрытия деталей -->
                            <i class="uil uil-angle-down toggle-details"></i>
                        </div>
                        <!-- site-details остается таким же, но теперь изначально скрыт -->
                        <div class="site-details">
                            <span class="site-updated">Последнее обновление: 2023-01-01</span>
                            <span class="site-language">Язык: RU</span>
                        </div>
                    </div>
                    <!-- Другие сайты... -->
                    <div class="box ">
                        <div class="site-info">
                            <span class="site-name">Название сайта</span>
                            <span class="site-url">base_url.com</span>
                            <!-- Добавляем иконку или кнопку для раскрытия деталей -->
                            <i class="uil uil-angle-down toggle-details"></i>
                        </div>
                        <!-- site-details остается таким же, но теперь изначально скрыт -->
                        <div class="site-details">
                            <span class="site-updated">Последнее обновление: 2023-01-01</span>
                            <span class="site-language">Язык: RU</span>
                        </div>
                    </div>
                </div>
            </div>



            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Recent Activity</span>
                </div>
                <div class="activity-data">
                    <div class="data names">
                        <span class="data-title">Name</span>
                        <span class="data-list">Prem Shahi</span>
                        <span class="data-list">Deepa Chand</span>
                        <span class="data-list">Manisha Chand</span>
                        <span class="data-list">Pratima Shahi</span>
                        <span class="data-list">Man Shahi</span>
                        <span class="data-list">Ganesh Chand</span>
                        <span class="data-list">Bikash Chand</span>
                    </div>
                    <div class="data email">
                        <span class="data-title">Email</span>
                        <span class="data-list">premshahi@gmail.com</span>
                        <span class="data-list">deepachand@gmail.com</span>
                        <span class="data-list">prakashhai@gmail.com</span>
                        <span class="data-list">manishachand@gmail.com</span>
                        <span class="data-list">pratimashhai@gmail.com</span>
                        <span class="data-list">manshahi@gmail.com</span>
                        <span class="data-list">ganeshchand@gmail.com</span>
                    </div>
                    <div class="data joined">
                        <span class="data-title">Joined</span>
                        <span class="data-list">2022-02-12</span>
                        <span class="data-list">2022-02-12</span>
                        <span class="data-list">2022-02-13</span>
                        <span class="data-list">2022-02-13</span>
                        <span class="data-list">2022-02-14</span>
                        <span class="data-list">2022-02-14</span>
                        <span class="data-list">2022-02-15</span>
                    </div>
                    <div class="data type">
                        <span class="data-title">Type</span>
                        <span class="data-list">New</span>
                        <span class="data-list">Member</span>
                        <span class="data-list">Member</span>
                        <span class="data-list">New</span>
                        <span class="data-list">Member</span>
                        <span class="data-list">New</span>
                        <span class="data-list">Member</span>
                    </div>
                    <div class="data status">
                        <span class="data-title">Status</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                    </div>
                </div>
            </div>


        </div>


    </section>




{% endblock %}