<style>
    .website-block {
        display: flex;
        justify-content: space-between;
    }

    aside {
        width: 300px;
        min-width: 250px;
        background-color: #f4f4f4;
        padding: 20px;
        box-sizing: border-box;
        border-right: 2px solid #ddd;
        border-radius: 5px;
        transition: transform 0.3s ease-in-out;
    }

    ul {
        width: 100%;
    }

    .menu-toggle-aside {
        display: none;
    }

    .menu-close-aside {
        display: none;
    }

    @media (max-width: 768px) {
        aside {
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            height: 100%;
            overflow: overlay;
            transform: translateX(-100%);
            /* Скрыть боковую панель за левой стороной экрана */
        }

        .menu-toggle-aside {
            display: block;
            cursor: pointer;
        }

        .website-block {
            display: block;
        }

        .menu-toggle-aside {
            display: block;
            cursor: pointer;
        }

        .menu-close-aside {
            display: block;
            cursor: pointer;
        }
    }

    /* Стиль для активной боковой панели */
    .aside-active {
        transform: translateX(0);
    }






    .filters label {
        display: block;
        margin-bottom: 5px;
    }
    
    .more-filters button {
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        padding: 5px 10px;
        cursor: pointer;
    }
    
    .more-filters button:hover {
        background-color: #e9e9e9;
    }
    
    .hidden-filters label {
        display: block;
        margin-bottom: 5px;
    }









    .grid-container {
        display: grid;
        /* grid-template-columns: repeat(auto-fit, 300px); */
        /* grid-gap: 30px; */
        /* padding: 20px; */
        justify-items: center;
        justify-content: start;
        align-items: start;
    }
    .box {
        padding: 2px;
    }
    .box .filters{
        display: block;
    }
      .checkbox-rect {
        padding-bottom: 10px;
    }
      
      /* checkbox-rect */
      .checkbox-rect input[type="checkbox"] {
        display: none;
      }
      
      .checkbox-rect input[type="checkbox"] + label {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 20px;
        font: 14px/20px "Open Sans", Arial, sans-serif;
        cursor: pointer;
        user-select: none;
      }
      
      .checkbox-rect input[type="checkbox"]:hover + label:hover {
        color: rgb(23, 86, 228);
      }
      
      .checkbox-rect input[type="checkbox"]:hover + label:before {
        background: #50565a;
        box-shadow: inset 0px 0px 0px 2px #f7f2f2;
      }
      
      .checkbox-rect input[type="checkbox"] + label:last-child {
        margin-bottom: 0;
      }
      
      .checkbox-rect input[type="checkbox"] + label:before {
        content: "";
        display: block;
        width: 1.4em;
        height: 1.4em;
        border: 1px solid #343a3f;
        border-radius: 0.2em;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0.2s, background 0.2s ease-in-out;
        background: #f3f3f3;
      }
      
      .checkbox-rect input[type="checkbox"]:checked + label:before {
        width: 1.3em;
        height: 1.3em;
        border-radius: 0.2em;
        border: 2px solid #fff;
        transform: rotate(90deg);
        background: #000000;
        box-shadow: 0 0 0 1px #000;
      }


</style>
<aside class="sidebar">
    <button class="menu-close-aside" aria-label="Close navigation menu">✕</button>
    <div class="checkbox-wrapper-34">
        <input class='tgl tgl-ios' id='showOnlyFavorites' type='checkbox'>
        <label class='tgl-btn' for='showOnlyFavorites'></label>
        <span>Избранные сайты</span>
    </div>



    <!-- Select для вкладок -->
    <div class="select-wrapper">
        <select id="tabsSelect" class="select2">
            <option value=""> </option>
            {% for tab in tabs  %}
            <option value="{{ tab.id }}">{{ tab }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Multi Select2 для стран -->
    <div class="select-wrapper">
        <select id="countriesSelect" class="select2" multiple="multiple">
            <option value="all">Все</option>
            {% for country in countries  %}
            <option value="{{ country.id }}">{{ country.name }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Multi Select2 для сайтов -->
    <div class="select-wrapper">
        <select id="websitesSelect" class="select2" multiple="multiple">
            <optgroup label="Избранные сайты:">
                <option value="{% for site in favorite_sites %}{{ site.id  }},{% endfor %}">Все избранные сайты</option>

                {% for site in favorite_sites %}
                <option value="{{ site.id }}">{{ site.name }}</option>
                {% endfor %}
            </optgroup>
            <optgroup label="Остальные сайты">
                {% for site in other_sites %}
                <option value="{{ site.id }}">{{ site.name }}</option>
                {% endfor %}
            </optgroup>
        </select>
    </div>
    <div class="select-wrapper">
        <select id="trackwordSelect" class="select2" multiple="multiple">
            <option value="all">Все</option>
            {% for trackword in tracked_words  %}
            <option value="{{ trackword.id }}">{{ trackword.keyword }}</option>
            {% endfor %}
        </select>
    </div>


    <!-- Wrapper для выбора даты -->
    <div class="date-picker-wrapper">
        <div class="date-picker">
            <label for="startDate">Дата начала:</label>
            <input type="date" id="startDate">
        </div>
        <div class="date-picker">
            <label for="endDate">Дата конца:</label>
            <input type="date" id="endDate">
        </div>
    </div>



    <div class="grid-container">
        <div class="box">
            <div class="filters">
                <div class="visible-filters">
                    <!-- Пример первых 7 фильтров, добавленные динамически -->
                    {% for value, name in categories %}
                        {% if forloop.counter <= 7 %}
                            <div class="checkbox-rect">
                                <input type="checkbox" id="checkbox-rect{{ forloop.counter }}" name="category" value="{{ value }}">
                                <label for="checkbox-rect{{ forloop.counter }}">{{ name }}</label>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="more-filters">
                    <button id="toggleFilters">Больше рубрик</button>
                    <div class="hidden-filters" style="display:none;">
                        <!-- Пример оставшихся фильтров, добавленные динамически -->
                        {% for value, name in categories %}
                            {% if forloop.counter > 7 %}
                                <div class="checkbox-rect">
                                    <input type="checkbox" id="checkbox-rect{{ forloop.counter }}" name="category" value="{{ value }}">
                                    <label for="checkbox-rect{{ forloop.counter }}">{{ name }}</label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    // ДЛЯ ФИЛЬТРОВ ПО РУБРИКАМ
    document.getElementById('toggleFilters').addEventListener('click', function() {
        var hiddenFilters = document.querySelector('.hidden-filters');
        hiddenFilters.style.display = hiddenFilters.style.display === 'none' ? 'block' : 'none';
    });
</script>

</aside>


<script>



    $(document).ready(function () {
        $('#tabsSelect').select2({
            placeholder: "Выберите вкладку",
            width: '100%',
            allowClear: true

        });
        $('#countriesSelect').select2({
            placeholder: "Выберите страны",
            width: '100%',
            allowClear: true

        });
        $('#websitesSelect').select2({
            placeholder: "Выберите сайты",
            width: '100%',
            allowClear: true

        });
        $('#trackwordSelect').select2({
            placeholder: "Выберите ключевые слова",
            width: '100%',
            allowClear: true

        });
    });
</script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var menuToggle = document.querySelector('.menu-toggle-aside');
        var menuClose = document.querySelector('.menu-close-aside');
        var sidebar = document.querySelector('aside');

        // Открытие боковой панели
        menuToggle.addEventListener('click', function () {
            sidebar.classList.add('aside-active');
        });

        // Закрытие боковой панели с кнопки внутри панели
        menuClose.addEventListener('click', function () {
            sidebar.classList.remove('aside-active');
        });

        // Закрытие боковой панели при клике вне её
        document.addEventListener('click', function (event) {
            if (!sidebar.contains(event.target) && !event.target.matches('.menu-toggle-aside')) {
                sidebar.classList.remove('aside-active');
            }
        });
    });
</script>