.word-cloud {
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}


.website-block.articles-list ul.websites {
  max-height: 436px; /* или любое другое значение, которое вы предпочитаете */
  overflow-y: auto; /* автоматическая полоса прокрутки */
}

/* Основной стиль для полосы прокрутки */
.website-block.articles-list ul.websites::-webkit-scrollbar {
  width: 10px; /* ширина вертикальной полосы прокрутки */
}

/* Стиль для ползунка прокрутки */
.website-block.articles-list ul.websites::-webkit-scrollbar-thumb {
  background-color: #5c5c5c; /* цвет ползунка */
  border-radius: 5px; /* скругление углов */
}

/* Стиль при наведении курсора на ползунок */
.website-block.articles-list ul.websites::-webkit-scrollbar-thumb:hover {
  background-color: #000000; /* цвет ползунка при наведении */
}

/* Стиль для трека (пути), по которому двигается ползунок */
.website-block.articles-list ul.websites::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* цвет фона трека */
  border-radius: 5px; /* скругление углов */
}


.word:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgb(0 0 0 / 54%);
  background-color: #030022;
}

.word.small { font-size: 14px; }
.word.medium { font-size: 18px; }
.word.large { font-size: 24px; }

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.word {
  animation: pulse 2s infinite;
}

.articles-list .websites {
  gap: 0px;
  margin-top: 10px;
}

.articles-list   {
  gap: 0px;

}

.widget.articles-list .websites {
  gap: 0px;
  margin-top: 10px;
}


.widget .website-block{
  max-width: 60%;
  min-width: 60%;
  
}
@media (max-width: 980px){

  .widget .website-block{
    max-width: 100%;
    min-width: 100%;
    
  }
}


.word-cloud ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.word-cloud li {
  display: inline-block;
}

.word {
  display: inline-block;
  padding: 3px 7px;
  background-color: #00274f;
  color: #ecf0f1;
  border-radius: 10px;
  font-size: 14px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  text-decoration: none; 
}

.word .count {
  color: #ecf0f1; 
  margin-left: 5px;
  font-weight: bold;
}

.word:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgb(0 0 0 / 54%);
  background-color: #030022;
}

.website-block.articles-list {
  display: flex;          /* делаем контейнер гибким */
  justify-content: center; /* центрируем содержимое по горизонтали */
  align-items: center;     /* центрируем содержимое по вертикали */
  height: 100%;            /* необходимая высота (можно установить другое значение) */
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;           /* занимает всю доступную ширину родителя */
}

.websites .error {
  display: grid;
  grid-template-columns: none;
}