{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">


</head>
<header>
    <nav class="main-nav">
        <button class="menu-toggle" aria-label="Open navigation menu">☰</button>
        <ul class="menu">
            <li><a href="{% url 'main:search' %}">Поиск</a></li>
            <li><a href="{% url 'main:website_list' %}">Мониторинг</a></li>
            <li><a href="{% url 'main:country_monitoring' %}">Мониторинг по странам</a></li>
            <li><a href="{% url 'main:live_all' %}">LIVE</a></li>
            <li><a href="{% url 'users:manage_tracked_words' %}">Управление</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'users:logout' %}">Выйти</a></li>
            {% else %}
                <li><a href="{% url 'users:login' %}">Войти</a></li>
            {% endif %}
        </ul>
    </nav>
  </header>
  <script>
    $(document).ready(function () {
      $('.menu-toggle').click(function () {
        $('.main-nav .menu').toggleClass('active');

      });
    });
    </script>
<body class="bg-2">

    {% block content %}
    {% endblock %}


</body>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</html>